
.btn-shadow {
    @include shadow($shadow-color, $shadow-color-hover);
  }
  
   .sidebar-buttons .btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }
  
  .btn-primary {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  
    &:hover,
    &:focus {
      background-color: $primary-color-light;
      border-color: $primary-color-light;
    }
  }
  
