// Colores
$primary-color: #3498db;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 5%);
$secondary-color: #2ecc71;
$font-family-base: 'Arial, sans-serif';
$gray-color: #f0f0f0;
$breakpoint-sm: 576px;
// Sombras
$shadow-color: rgba(97, 97, 97, 0.1);
$shadow-color-hover: rgba(94, 93, 93, 0.15);

// Mixin para sombras
@mixin shadow($color, $hover-color) {
  box-shadow: 0 4px 6px $color;

  &:hover,
  &:focus {
    box-shadow: 0 6px 8px $hover-color;
  }
}
